@use '../../styles.scss' as *;

nav{
    font-size: small;
    box-shadow: 2px 2px 5px black;
    position: fixed;
    top:0;
    width: 100%;
    background-color: white;
    z-index: 5;
    height: 3rem;

    .logo{
        color: rgb(255, 102, 0);
        img{
            border-radius: 50%;
            height: 2rem;
            width: 2rem;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
    .item-count{
        background-color: rgb(255, 102, 0);
        color: white;
        border-radius: 50%;
        padding: 0.1rem 0.4rem;
        font-size: x-small;
        margin-left: 0.2rem;
        position: absolute;
        right: 3.5rem;
        top: 0.5rem;
    }
    .search{
        width: 40%;
    }
    .search-bar{
        width: 90%;
    }
}