@use "../../styles.scss" as *;

section {
    min-height: 92.5vh;
    height: 100%;
    margin-top: 3rem;
    font-size: small;
    .title{
        color: rgba(255, 102, 0);
        cursor: pointer;
    }
    .header{
        border-radius: 0.2rem;
        background-color: rgba(255, 102, 0, 0.2);
    }
    .article-image{
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .article-price{
        font-weight: 500;
        font-size: small;
    }
    .remove-cart{
        border: none;
        background-color: rgba($primary-color, 0.9);
        color: white;
        font-size: small;
        font-weight: 500;
        border-radius: 0.2rem;
    }
    .remove-cart:hover{
        background-color: white;
        color: $primary-color;
        border: 1px solid
         $primary-color;
    }
    .btn-commander{
        a{
            color: white;
            font-size: small;
            text-decoration: none;
            font-weight: 500;
        }
    }
}